   @font-face {
    font-family: adana;
    src: local(adana), url(/fonts/7834.ttf);
   }
.navbar-light .navbar-brand
	{
		font-family:'adana';
		font-size:48px;
		font-weight:900;
		line-height:1.2;
		color:white;
		/* background-image:url('/img/logo.png'); */
		background-repeat:no-repeat;
		text-shadow: 2px 0 2px green, 
					 0 2px 2px green, 
					 -2px 0 2px green, 
					 0 -2px 2px green;
	}	
	.navbar.navbar-expand-lg.navbar-light.bg-light img {
    height: 40px;
    padding: 0;
    margin: 0;
}
	.navbar-light:hover .navbar-brand:hover{
		color:white;
	}
	.navbar-light .navbar-nav .nav-link{
		color:green;
	}
	.active>.nav-link{
		color:green;
	}
body
{
	box-sizing: content-box
}
.h1, h1, h2 {
    font-size: 2rem;
	font-size:33px;
	font-weight:900;
	color:black;

}
.card{
	 display:block; 
}
.img-wrap {
  position: relative;
  text-align:center;
}

.img-wrap #haze {
	
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  width: auto;
  min-width:50%;
  height:auto;
  opacity: 0.8;
  background-color:white;
  border-radius: 12px;
  padding: 12px;
}.
.myClass img{
	width:100%;
	height:auto;
}
.fullImg img{
	width:100%;
}
.myClass .col-3, .col-md-2, .col-sm-3, .col-lg-2 img{
	width:100%;
	height:auto;
}
.img-wrap p{
	font-size:16px;
}
.img-wrap h1{
	font-size:24px;
}
.img-wrap #haze:hover{
	opacity:1;
}
.myElements{
	color:green; 
	font-size: 150%;
}

.btn-success {
    color: #fff;
    background-color: green;
    border-color: white;
}
.row {margin-left: 0; margin-right: 0;}
.list-rectangle {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-rectangle>li {
  position: relative;
  display: block;
  margin-bottom: .25rem;
  padding: .325rem .825rem .325rem 1.325rem;
  color: #fff;
  background: green;
}
.list-rectangle>li:last-child {
  margin-bottom: 0;
}
.list-rectangle>li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0.5rem;
  background: #ec407a;
}
@media screen and (max-width: 650px){
	.img-wrap p{
	font-size:14px;
}
.img-wrap h1{
	font-size:16px;
}

.h1, h1, h2 {
	font-size:16px;
}
p {
	font-size:12px;
}
.table{
	font-size:12;
}
.img-wrap #haze {
	left: 3%;
	right: 3%;
	top: 3%;
}
}
.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle{
background-color:green;	
}
.navbar-light a.navbar-brand {
    opacity: 0.7;
}

@media screen and (max-width: 1000px){
.navbar-light .navbar-brand {
    font-size: 22px;
    padding: 0 0;
}}
@media screen and (max-width: 650px){
.navbar-light .navbar-brand {
    font-size: 20px;
}
}